.x_collect {
	display:flex;
	flex-direction: column;
	.x_collect_head{
		height:1.25333333rem; // 124px
		display:flex;
		i.icon-arrowleft{
			position: absolute;
			top:0;
			left:0;
			color:#555555;
		}
		i,p{
			font-size:.7rem; // 72px
			line-height:1.25333333rem; // 124px
		}
		.x_c_title{
			font-size:.48rem;
			margin-left:50%;
			transform: translate(-50%,0);
		}
		border: .01333333rem solid #E5E5E5;
		background-color: #fff;
	}

	.x_collect_options {
			background-color: #fff;
			height:1rem; // 120px
			display:flex;
			justify-content:space-around;
			align-items:center;
			border: .01333333rem solid #E5E5E5;
			text-align:center;
			p{
				font-size:.40666667rem; // 26px
				width:4.33333333rem; // 100px
				line-height:1rem; // 120px
			}
			p.x_action {
				color:#FE0E4D;
				border-bottom:.02666667rem solid #FE0E4D;
			}
	}

	.x_collect_content {
		background-color: #fff;
		padding-left: .45rem; // 30px
		ul{
			margin-top:.10333333rem; // 4px
		}
		li{
			display: flex;
			// margin:0.136667rem 0;
			margin-top: 0.23rem;
			border-bottom:.02666667rem solid #E5E5E5;
		}
		.x_collect_img{
			//width:3.26666667rem; // 200px
			height:2.66666667rem; // 200px
			img{
				height: 90%;
			}
		}
		.x_collect_decoration{
			padding: .13333333rem .13333333rem; // 10px
			height:2.66666667rem; // 200px
			flex:1;
			p{
				line-height:.53333333rem; // 40px
				font-size:.34666667rem; // 26px
				padding-right: .13333333rem; // 10px
			}
			span{
				display:block;
				line-height: .53333333rem; // 40px
				margin-bottom: .26666667rem; // 20px
				font-size:.26666667rem; // 20px
			}
			p:nth-child(3){
				font-size: .32333333rem; // 28px
				text-align:right;
			}
		}
	}

	.x_collect_over {
		font-size:.34666667rem; // 26px
		text-align:center;
		line-height:.66666667rem; // 50px
	}
}

.ellText {
    //float: left;
    display: block;
    width:5.33333333rem; // 400px
    height: auto;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}