.footer{
    border-top:0.026667rem solid #ccc;
    width:100%;
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color:#fff;
    /*position:absolute;
    bottom:0;
    left:0;*/
}
.footer ul, .footer li{
    margin: 0;
    padding:0;
    list-style:none;
}
.footer ul{
    display:flex;
    width:100%;
}
.footer ul li {
    flex:1;
    text-align:center;
    height:1.333333rem;
    display:flex;
    flex-direction:column;
    padding-top:0.2rem;
}
.footer ul li i{
    font-size:0.586667rem;
    font-weight:bold;
}
.footer ul li p{
    margin:0;
    padding:0.066667rem 0;
    font-size:0.346667rem;
}
.changeRed{color:red;}
