.footer{
    border-top:0.026667rem solid #F1F1F5;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.footer ul, .footer li{
    margin: 0;
    padding:0;
    list-style:none;
}
.footer ul{
    display:flex;
    width:100%;
}
.footer ul li {
    flex:1;
    text-align:center;
    height:1.333333rem;
    // border:0.013333rem solid #ccc;
    display:flex;
    flex-direction:column;
    padding: 0.066667rem 0;
}
.footer ul li i{
    font-size:0.666667rem;
    // border:0.013333rem solid #ccc;
}
.footer ul li p{
    margin:0;
    font-size:0.346667rem;
    // border:0.013333rem solid #ccc;
}
