html,body{
    height:100%
}

#app{
    height:100%;
}
#overstory_p{
    display:flex;
    flex-direction:column;
    height:100%;
    .main{
        flex:1;
        display:flex;
        flex-direction:column;
    }
    .footer_p{
        height:1.333333rem;
    }
}