html,body {
	height:100%;
	margin: 0;
}

#app {height: 100%;}

#x_my li {list-style: none;color:#828282;}
#x_my ul {margin: 0;}

#x_my {
	height:100%;
	position: relative;
	background-color: rgba(229,229,229,.6);
	.x_header {
		.x_mySet {
			padding-right: .3rem; // 54px
			padding-top: .42rem; // 54px
			box-sizing: border-box;
			text-align: right;
		}
		.x_mySet i {
			color: #828282;
			font-size:0.666667rem; // 64px
		}
		.x_myPic {
			position: absolute;
			top:.76666667rem; // 50px
			margin-left: 50%;
			transform: translate(-50%,0);
			div {
				width: 1.53333333rem;
				height: 1.53333333rem; // 100px
				border-radius: 50%;
				border: .02666667rem solid #fff; // 1px
				margin-left: .53333333rem; // 10px
				text-align:center;
				i {
					font-size:1.066667rem;
					line-height: 1.46666667rem;// 80px
				}
				p {
					font-size: .44666667rem; // 16px
					margin-top: .3rem; // 30px
				}
			}
		}
		.x_lv {
			margin-top:2.66666667rem; // 200px
			ul {display: flex;margin:0;justify-content:space-around;}
			span {color:#000;font-size:.34666667rem;margin:.13333333rem;}
			li{line-height:1.06666667rem;font-size:.34666667rem;color:#c0c0c0;}
		}
		.x_qiandao {
			position: absolute;
			width: 2.06666667rem; // 200px
			padding-left:.26666667rem; // 20px
			text-align:left;
			left: 0; // 10px
			background-color: #fff;
			border-radius: .26666667rem; // 20px
			line-height:.66666667rem; // 50px
			i{font-size:0.416667rem;color:#F93E3E;}
			span{font-size:0.366667rem;;margin-left:.13333333rem;line-height:.8rem;display:inline-block;color:#C3C3C3;}
		}
	}
	.x_nav {
		background-color:#fff;
		ul {
			height:2rem; // 210px
			display: flex;
			justify-content: space-around;
			align-items: center;
			text-align: center;
			padding: .27rem;
			margin-top:.16666667rem; // 20px
			i {font-size:0.666667rem;}
			span {display:block;margin-top:.17333333rem;font-size:.34666667rem;}
			.x_big {font-size:.82666667rem;}
		}
	}
	.x_order_my {
		margin: .53333333rem 0;
		.x_order_my_head {
			background-color:#fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 .3rem; // 20px
			i{font-size:0.566667rem;transform: rotate(-90deg);}
			span{font-size:0.406667rem;color:#828282;}
			border-bottom: 1px solid #F1F1F5;
			height: 1.33333333rem;// 60px
			border:.01333333rem solid #F1F1F5;
		}
		.x_order_my_body {
			background-color:#fff;
			ul{
				height:2.13333333rem; // 160px
				display: flex;
				justify-content: space-around;
				text-align:center;
				align-items: center;
				span {display:block;margin-top:.2rem;font-size:.34666667rem;}
				i{font-size:0.666667rem;;}
				.x_big {font-size:.72666667rem;}
			}
		}
	}
	.x_address {
		background-color:#fff;
		ul {
			li {
				display: flex;
				justify-content: space-between;
				height:.8rem;// 50px
				border-bottom: 1px solid #EFEFF4;
				padding-left:.53333333rem; // 40px
				i{
					font-size:0.566667rem;
				}
				i.icon-arrow-down {display:inline-block;transform:rotate(-90deg);}
				span{font-size:.34666667rem;color:#828282;}
				div:nth-child(1) span {float:left;margin-left: .4rem;}
				div:nth-child(1) i {float:left;}
				padding: 0 .3rem; // 30px
				div{line-height:.8rem;}
			}
		}
	}
}



	
	

